<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/area-autenticada">
                <i class="material-icons">
                  alarm
                </i> Ponto
            </a>

            <a mat-list-item routerLink="/">
                <i class="material-icons">
                  date_range
                </i> Histórico
            </a>

            <a mat-list-item routerLink="products" [disabled]="!this.admLogado">
                <i class="material-icons">
                assessment
                </i> Registro
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>