table {
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.registros-topbar {
    width: 100%;
}

.registros-topbar-text {
    font-size: 1.2em;
    margin-top: 1.2%;
    width: 100px;
}

.filtro-content {
    margin-right: 3%;
    margin-top: 1%;
}

.filtro-input {
    width: 200px;
    padding-left: 1%;
    font-size: 1em;
}