<div class="top-content">
    <div class="top-first-info mat-elevation-z2">
        <p *ngIf="!this.pontoIniciado">Dia não iniciado!</p>
        <p *ngIf="this.pontoIniciado"> Dia iniciado em: <br>{{tempoInicial | date:'dd/MM/yyyy HH:mm:ss'}}</p>
    </div>
    <div class="top-second-info mat-elevation-z2">
        <p *ngIf="!this.almocoIniciado && !this.almocoJaFeito">Horário de Almoço não iniciado!</p>
        <p *ngIf="this.almocoJaFeito">Horário de Almoço já realizado!</p>
        <p *ngIf="this.almocoIniciado"> Almoço iniciado em: <br> {{tempoIniciaAlmoco | date:'dd/MM/yyyy HH:mm:ss'}}</p>
    </div>

</div>

<div class="btns-content">
    <div class="first-btn">
        <button mat-raised-button (click)="iniciarDia()" color="primary" *ngIf="!this.pontoIniciado">Iniciar Dia</button>
        <button mat-raised-button (click)="iniciarDia()" *ngIf="this.pontoIniciado" disabled>Já Iniciado</button>
    </div>
    <div class="second-btn">
        <button mat-raised-button (click)="iniciarAlmoco()" *ngIf="!this.almocoIniciado" [disabled]="this.almocoJaFeito">Iniciar Almoço</button>
        <button mat-raised-button (click)="encerrarAlmoco()" *ngIf="this.almocoIniciado">Voltar do Almoço</button>
    </div>
    <div class="third-btn">
        <button mat-raised-button (click)="encerrarDia()" color="warn" [disabled]="!this.pontoIniciado">Finalizar Dia</button>
    </div>
</div>