.area-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-div {
    background-color: #f0efef;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border: #32a515 solid 1px;
}

.login-icon {
    color: #32a515;
    margin-top: 5%;
    font-size: 3em;
}

.senha-login {
    width: 70%;
}

.email-login {
    width: 70%;
    margin-top: 20px;
}

.btn-login {
    width: 50%;
    background-color: #32a515;
    color: white;
}